@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
    font-family: "Ubuntu", sans-serif;
    background: #292828;
    background-color: #292828;
}

.custom-border{
    border-right: solid 0.5px #ffffffc2;
    border-left: 1px solid #000;
}

.left-side{
    background: #292828;
    background-color: #292828;
}

.custom-padding{
    margin-left: 110px;
}

.main{
    margin-left: 30px;
}

.amount{
    font-size: 6em;
}

.amount span{
    font-size: 24px;
}

.delete-ml{
    margin-left: -12px;
}

.amount{
    font-size: 5em;
}


.leftovers .info p{
    font-size: 0.7em;
    margin-bottom: 0px;
}

.modal-body .otherCategoryDiv, .modal-body .mandatoryDate{
    display: none;
}

.same-size-button{
    height: 170px;
}

/* .deleteDaily{
    height: 20px;
}

.deleteDaily i{
    font-size: 5px;
} */
@media (max-width: 1279px) { /* Rozmiar md to zazwyczaj 768px */
    

    .amount {
        font-size: 3em; 
    }

}


/* @media (max-width: 575px) {
    .buttons {
        flex-direction: row !important;
    }
} */


/* stare guziki
<div class="col-lg-1 col-sm-2 gap-3 d-flex flex-lg-column flex-sm-row align-items-center justify-content-center buttons">
<button type="button" class="btn btn-success same-size-button" id="addMoney" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="changeModalTittle('add')">+</button>
<button type="button" class="btn btn-danger same-size-button" id="subMoney" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="changeModalTittle('sub')">-</button>
</div> */